<div class="main-content table-main">
    <div class="row">
        <div class="col-md-12">

            <label><b>BUSCAR: </b></label>
            <input type="date" [(ngModel)]="filtro.dataLancamento" (ngModelChange)="buscaPorData($event)">

            <!-- TABELA -->
            <div class="row">
                <div class="col-md-12 table-div-container">
                    <div class="card table-card-container">
                        <div class="card-body table-responsive table-card-body-container">

                            <!-- PRODUCAO SOCOCO -->
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <!-- <tr>
                                        <th></th>
                                        <th colspan="3" style="text-align:center;vertical-align:top" class="bg-danger text-light">TOTAL</th>
                                    </tr> -->
                                    <tr class="bg-danger text-light">
                                        <th>
                                            <strong>SOCOCO</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Cocos Proces. (und)</th>
                                        <td>{{(totalDia != null) ? totalDia.cocosProcessados : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.cocosProcessados : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.cocosProcessados : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cocos Desf. (und)</th>
                                        <td>{{(totalDia != null) ? totalDia.cocosDesfibrados : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.cocosDesfibrados : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.cocosDesfibrados : 0}}</td>
                                    </tr>
                                    <tr class="table-active">
                                        <th>
                                            <span>Rendimento</span>
                                        </th>
                                        <td>{{(rendimento != null) ? rendimento : 0}}</td>
                                        <td>{{(rendimentoSemana != null) ? rendimentoSemana : 0}}</td>
                                        <td>{{(rendimentoMes != null) ? rendimentoMes : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>C.R.I (kg)</th>
                                        <td>{{(totalDia != null) ? totalDia.cri : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.cri : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.cri : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Flococo (kg)</th>
                                        <td>{{(totalDia != null) ? totalDia.flococo : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.flococo : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.flococo : 0}}</td>
                                    </tr>
                                    <tr class="table-active">
                                        <th>
                                            <span style="color:rgb(154, 0, 0)">Total (C.R.I + Flococo)</span>
                                        </th>
                                        <td>{{(totalcriflococo != null) ? totalcriflococo : 0}}</td>
                                        <td>{{(totalcriflococoSemana != null) ? totalcriflococoSemana : 0}}</td>
                                        <td>{{(totalcriflococoMes != null) ? totalcriflococoMes : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Ind. Tipo A (L)</th>
                                        <td>{{(totalDia != null) ? totalDia.oleoIndustrialTipoA : 0 }}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.oleoIndustrialTipoA : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.oleoIndustrialTipoA : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Ind. E.T.E (L)</th>
                                        <td>{{(totalDia != null) ? totalDia.oleoIndustrialETE : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.oleoIndustrialETE : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.oleoIndustrialETE : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Torta - Ração (kg)</th>
                                        <td>{{(totalDia != null) ? totalDia.torta : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.torta : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.torta : 0}}</td>
                                    </tr>
                                    <!-- PRODUCAO ACQUA -->
                                    <tr class="bg-success text-light">
                                        <th>
                                            <strong>ACQUA</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>

                                    <tr>
                                        <th>Água de C. Sococo (L)</th>
                                        <td>{{(totalDia != null) ? totalDia.aguaDeCocoSococo : 0 }}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.aguaDeCocoSococo : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.aguaDeCocoSococo : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Água de C. Verde (L)</th>
                                        <td>{{(totalDia != null) ? totalDia.aguaDeCocoVerde : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.aguaDeCocoVerde : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.aguaDeCocoVerde : 0}}</td>
                                    </tr>
                                    <tr class="table-active">
                                        <th>
                                            <span style="color:rgb(154, 0, 0)">TOTAL</span>
                                        </th>
                                        <td>{{totalAguaDeCoco}}</td>
                                        <td>{{(totalAguaDeCocoSemana != null) ? totalAguaDeCocoSemana : 0}}</td>
                                        <td>{{(totalAguaDeCocoMes != null) ? totalAguaDeCocoMes : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Caixa Padrão (und)</th>
                                        <td>{{(totalDia != null) ? totalDia.caixaPadrao : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.caixaPadrao : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.caixaPadrao : 0}}</td>
                                    </tr>
                                    <tr>
                                        <th>Coco Germinado (%)</th>
                                        <td>{{(totalDia != null) ? totalDia.porcentagemCocoGerminado : 0}}</td>
                                        <td>
                                            <!-- {{(totalSemana[10] != null) ? totalSemana[10] : 0}} -->
                                        </td>
                                        <td>
                                            <!-- {{(totalMes != null) ? totalMes.porcentagemCocoGerminado : 0}} -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> Total de Cacambas</th>
                                        <td>{{(totalDia != null) ? totalDia.totalDeCacambas : 0}}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.totalDeCacambas : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.totalDeCacambas : 0}}</td>
                                    </tr>

                                    <!-- PRODUCAO AMAFIBRA -->
                                    <tr class="bg-warning ">
                                        <th>
                                            <strong>AMAFIBRA</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>
                                    <tr>
                                        <th>Nº de Fardos (L)</th>
                                        <td>{{(totalDia != null) ? totalDia.numeroDeFardos : 0 }}</td>
                                        <td>{{(totalSemana != null) ? totalSemana.numeroDeFardos : 0}}</td>
                                        <td>{{(totalMes != null) ? totalMes.numeroDeFardos : 0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>