.login-form {
    margin-top: 100px;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    padding-bottom: 20px;
    background: white;
}

.title {
    background: #00aec5;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}