<div class="main-content">
    <div class="row">
        <div class="col-md-12" *ngFor="let row of dataRows">

            <div>
                <label>Resumo do dia: </label>
                <input type="date" [(ngModel)]="filtro.dataLancamento" (ngModelChange)="buscaPorData($event)">
                <!-- <h5>{{row.dataLancamento | date: 'dd/MM/yyyy'}}</h5> -->
            </div>

            <!-- TABELA -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-responsive">

                            <!-- PRODUCAO SOCOCO -->
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="bg-danger text-light">
                                        <th>Produção Diária
                                            <strong>SOCOCO</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Cocos Processados (und)</th>
                                        <td>{{(row.cocosProcessados != null) ? row.cocosProcessados : 0 }}</td>
                                        <td></td>
                                        <td>{{(row.cocosProcessados != null) ? row.cocosProcessados : 0 }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Cocos Desfibrados (und)</th>
                                        <td>{{(row.cocosDesfibrados != null) ? row.cocosDesfibrados : 0}}</td>
                                        <td></td>
                                        <td>{{(row.cocosDesfibrados != null) ? row.cocosDesfibrados : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active ">
                                            <span style="color:rgb(154, 0, 0)">Rendimento</span>
                                        </th>
                                        <td>{{rendimento}}</td>
                                        <td></td>
                                        <td>{{rendimento}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>C.R.I (kg)</th>
                                        <td>{{(row.cri != null) ? row.cri : 0}}</td>
                                        <td></td>
                                        <td>{{(row.cri != null) ? row.cri : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Flococo (kg)</th>
                                        <td>{{(row.flococo != null) ? row.flococo : 0}}</td>
                                        <td></td>
                                        <td>{{(row.flococo != null) ? row.flococo : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active">
                                            <span style="color:rgb(154, 0, 0)">Total (C.R.I + Flococo)</span>
                                        </th>
                                        <td>{{totalcriflococo}}</td>
                                        <td></td>
                                        <td>{{totalcriflococo}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Industrial Tipo A (L)</th>
                                        <td>{{(row.oleoIndustrialTipoA != null) ? row.oleoIndustrialTipoA : 0 }}</td>
                                        <td></td>
                                        <td>{{(row.oleoIndustrialTipoA != null) ? row.oleoIndustrialTipoA : 0 }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Industrial E.T.E (L)</th>
                                        <td>{{(row.oleoIndustrialETE != null) ? row.oleoIndustrialETE : 0}}</td>
                                        <td></td>
                                        <td>{{(row.oleoIndustrialETE != null) ? row.oleoIndustrialETE : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Torta - Ração (kg)</th>
                                        <td>{{(row.torta != null) ? row.torta : 0}}</td>
                                        <td></td>
                                        <td>{{(row.torta != null) ? row.torta : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <!-- PRODUCAO ACQUA -->
                                    <tr class="bg-success text-light">
                                        <th>Produção Diária
                                            <strong>ACQUA</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>

                                    <tr>
                                        <th>Água de Coco Sococo (L)</th>
                                        <td>{{(row.aguaDeCocoSococo != null) ? row.aguaDeCocoSococo : 0 }}</td>
                                        <td></td>
                                        <td>{{(row.aguaDeCocoSococo != null) ? row.aguaDeCocoSococo : 0 }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Água de Coco Verde (L)</th>
                                        <td>{{(row.aguaDeCocoVerde != null) ? row.aguaDeCocoVerde : 0}}</td>
                                        <td></td>
                                        <td>{{(row.aguaDeCocoVerde != null) ? row.aguaDeCocoVerde : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active">
                                            <span style="color:rgb(154, 0, 0)">TOTAL</span>
                                        </th>
                                        <td>{{totalAguaDeCoco}}</td>
                                        <td></td>
                                        <td>{{totalAguaDeCoco}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Caixa Padrão (und)</th>
                                        <td>{{(row.caixaPadrao != null) ? row.caixaPadrao : 0}}</td>
                                        <td></td>
                                        <td>{{(row.caixaPadrao != null) ? row.caixaPadrao : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Coco Germinado (%)</th>
                                        <td>{{(row.porcentagemCocoGerminado != null) ? row.porcentagemCocoGerminado : 0}}</td>
                                        <td></td>
                                        <td>{{(row.porcentagemCocoGerminado != null) ? row.porcentagemCocoGerminado : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> Total de Cacambas</th>
                                        <td>{{(row.totalDeCacambas != null) ? row.totalDeCacambas : 0}}</td>
                                        <td></td>
                                        <td>{{(row.totalDeCacambas != null) ? row.totalDeCacambas : 0}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <!-- PRODUCAO AMAFIBRA -->
                                    <tr class="bg-warning ">
                                        <th>Produção Diária
                                            <strong>AMAFIBRA</strong>
                                        </th>
                                        <th>1 Turno</th>
                                        <th>2 Turno</th>
                                        <th>Total Dia</th>
                                        <th>Total Semana</th>
                                        <th>Total Mês</th>
                                    </tr>
                                    <tr>
                                        <th>Nº de Fardos (L)</th>
                                        <td>{{(row.numeroDeFardos != null) ? row.numeroDeFardos : 0 }}</td>
                                        <td></td>
                                        <td>{{(row.numeroDeFardos != null) ? row.numeroDeFardos : 0 }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>