<div class="main-content">
    <div class="row">
        <div class="col-md-12" >
            <div>
                <b>BUSCAR: </b>
                <input type="date" [(ngModel)]="filtro.dataLancamento" (ngModelChange)="buscaPorData($event)">
                <!-- <h5>{{row.dataLancamento | date: 'dd/MM/yyyy'}}</h5> -->
            </div>

            <!-- TABELA -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body table-responsive">

                            <!-- PRODUCAO SOCOCO -->
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="bg-danger text-light">
                                        <th>Produção Diária
                                            <strong>SOCOCO</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Cocos Processados (und)</th>
                                        <td>{{(totalDia.cocosProcessados != null) ? totalDia.cocosProcessados : 0 }}</td>
                                        <td></td>
                                        <td>{{(totalDia.cocosProcessados != null) ? totalDia.cocosProcessados : 0 }}</td>
                                        <td>{{totalSemana[0]}}</td>
                                        <td>{{totalMes.cocosProcessados}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cocos Desfibrados (und)</th>
                                        <td>{{(totalDia.cocosDesfibrados != null) ? totalDia.cocosDesfibrados : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.cocosDesfibrados != null) ? totalDia.cocosDesfibrados : 0}}</td>
                                        <td>{{totalSemana[1]}}</td>
                                        <td>{{totalMes.cocosDesfibrados}}</td>
                                    </tr>
                                    <tr>
                                        <th class="table-active ">
                                            <span style="color:rgb(154, 0, 0)">Rendimento</span>
                                        </th>
                                        <td>{{rendimento}}</td>
                                        <td></td>
                                        <td>{{rendimento}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>C.R.I (kg)</th>
                                        <td>{{(totalDia.cri != null) ? totalDia.cri : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.cri != null) ? totalDia.cri : 0}}</td>
                                        <td>{{totalSemana[2]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Flococo (kg)</th>
                                        <td>{{(totalDia.flococo != null) ? totalDia.flococo : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.flococo != null) ? totalDia.flococo : 0}}</td>
                                        <td>{{totalSemana[3]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active">
                                            <span style="color:rgb(154, 0, 0)">Total (C.R.I + Flococo)</span>
                                        </th>
                                        <td>{{totalcriflococo}}</td>
                                        <td></td>
                                        <td>{{totalcriflococo}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Industrial Tipo A (L)</th>
                                        <td>{{(totalDia.oleoIndustrialTipoA != null) ? totalDia.oleoIndustrialTipoA : 0 }}</td>
                                        <td></td>
                                        <td>{{(totalDia.oleoIndustrialTipoA != null) ? totalDia.oleoIndustrialTipoA : 0 }}</td>
                                        <td>{{totalSemana[4]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Óleo Industrial E.T.E (L)</th>
                                        <td>{{(totalDia.oleoIndustrialETE != null) ? totalDia.oleoIndustrialETE : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.oleoIndustrialETE != null) ? totalDia.oleoIndustrialETE : 0}}</td>
                                        <td>{{totalSemana[5]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Torta - Ração (kg)</th>
                                        <td>{{(totalDia.torta != null) ? totalDia.torta : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.torta != null) ? totalDia.torta : 0}}</td>
                                        <td>{{totalSemana[6]}}</td>
                                        <td></td>
                                    </tr>
                                    <!-- PRODUCAO ACQUA -->
                                    <tr class="bg-success text-light">
                                        <th>Produção Diária
                                            <strong>ACQUA</strong>
                                        </th>
                                        <th *ngFor="let titleCol of headerRow"> {{titleCol}} </th>
                                    </tr>

                                    <tr>
                                        <th>Água de Coco Sococo (L)</th>
                                        <td>{{(totalDia.aguaDeCocoSococo != null) ? totalDia.aguaDeCocoSococo : 0 }}</td>
                                        <td></td>
                                        <td>{{(totalDia.aguaDeCocoSococo != null) ? totalDia.aguaDeCocoSococo : 0 }}</td>
                                        <td>{{totalSemana[7]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Água de Coco Verde (L)</th>
                                        <td>{{(totalDia.aguaDeCocoVerde != null) ? totalDia.aguaDeCocoVerde : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.aguaDeCocoVerde != null) ? totalDia.aguaDeCocoVerde : 0}}</td>
                                        <td>{{totalSemana[8]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active">
                                            <span style="color:rgb(154, 0, 0)">TOTAL</span>
                                        </th>
                                        <td>{{totalAguaDeCoco}}</td>
                                        <td></td>
                                        <td>{{totalAguaDeCoco}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Caixa Padrão (und)</th>
                                        <td>{{(totalDia.caixaPadrao != null) ? totalDia.caixaPadrao : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.caixaPadrao != null) ? totalDia.caixaPadrao : 0}}</td>
                                        <td>{{totalSemana[9]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>Coco Germinado (%)</th>
                                        <td>{{(totalDia.porcentagemCocoGerminado != null) ? totalDia.porcentagemCocoGerminado : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.porcentagemCocoGerminado != null) ? totalDia.porcentagemCocoGerminado : 0}}</td>
                                        <td>{{totalSemana[10]}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th> Total de Cacambas</th>
                                        <td>{{(totalDia.totalDeCacambas != null) ? totalDia.totalDeCacambas : 0}}</td>
                                        <td></td>
                                        <td>{{(totalDia.totalDeCacambas != null) ? totalDia.totalDeCacambas : 0}}</td>
                                        <td>{{totalSemana[11]}}</td>
                                        <td></td>
                                    </tr>

                                    <!-- PRODUCAO AMAFIBRA -->
                                    <tr class="bg-warning ">
                                        <th>Produção Diária
                                            <strong>AMAFIBRA</strong>
                                        </th>
                                        <th>1 Turno</th>
                                        <th>2 Turno</th>
                                        <th>Total Dia</th>
                                        <th>Total Semana</th>
                                        <th>Total Mês</th>
                                    </tr>
                                    <tr>
                                        <th>Nº de Fardos (L)</th>
                                        <td>{{(totalDia.numeroDeFardos != null) ? totalDia.numeroDeFardos : 0 }}</td>
                                        <td></td>
                                        <td>{{(totalDia.numeroDeFardos != null) ? totalDia.numeroDeFardos : 0 }}</td>
                                        <td>{{totalSemana[12]}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>