/* .form-control {
    background-color: #000;
    color: #ffffff;
} */

@media screen and (max-width: 599px) {
    .header h3 {
        font-size: 18px;
    }
    .data-lancamento h5 {
        float: right;
        margin-top: -50px;
        font-weight: bold;
        background-color: #e7e7e7;
        padding: 3px 5px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 600px) {
    .header h3 {
        font-size: 24px;
    }
    .data-lancamento h5 {
        float: right;
        margin-top: -50px;
        background-color: #e7e7e7;
        font-weight: bold;
    }
}

.card label {
    color: black;
    font-size: 16px;
}

.row-painel,
.card {
    margin-top: 40px;
    margin-bottom: 50px;
    /* margin-left: 5px;
    margin-right: 5px; */
}

.form-control {
    /* background-color: #e7e7e7 */
    background-color: #f4f3ef
}

.content span {
    font-size: 16px;
    font-weight: bold;
    border: #cccccc solid 1px;
}

.painel-container {
    margin-left: 10px;
    margin-right: 10px;
}


/* CSS SOCOCO */

.text-on-pannel-sococo {
    background: #f00 none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    /* border: 1px solid #337ab7; */
    border-radius: 8px;
}

.title-sococo {
    color: #fff
}


/* CSS ACQUA */

.title-acqua {
    color: #fff
}

.text-on-pannel-acqua {
    background: rgb(21, 199, 110) none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    /* border: 1px solid #337ab7; */
    border-radius: 8px;
}


/* CSS AMAFIBRA */

.title-amafibra {
    color: #fff
}

.text-on-pannel-amafibra {
    background: rgb(189, 154, 0) none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    /* border: 1px solid #337ab7; */
    border-radius: 8px;
}