<!-- SOCOCO -->
<div class="card card-sococo">
    <div class="card-header card-header-tabs card-header-danger">
        <h3 class="card-title">SOCOCO</h3>
        <p class="card-category">
            <strong>Produção de {{anoMes}}</strong>
        </p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title"> Produção Diária</h4>
                                <p class="card-category">12/10/2018</p>
                            </div> -->
                    <div class="card-body">
                        <div id="cocoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Cocos Desfibrados (und)
                            <br />
                            <i class="fa fa-circle legend-text-2"></i> Cocos Processados (und)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title"> Produção Diária</h4>
                                <p class="card-category">12/10/2018</p>
                            </div> -->
                    <div class="card-body">
                        <div id="criFlococoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> CRI (Kg)
                            <br />
                            <i class="fa fa-circle legend-text-2"></i> Flococo (Kg)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title"> Produção Diária</h4>
                                <p class="card-category">12/10/2018</p>
                            </div> -->
                    <div class="card-body">
                        <div id="oleoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Óleo Industrial Tipo A (L)
                            <br />
                            <i class="fa fa-circle legend-text-2"></i> Óleo Industrial E.T.E (L)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-warning">
                                <h4 class="card-title">Employees Stats</h4>
                                <p class="card-category">New employees on 15th September, 2016</p>
                            </div> -->
                    <div class="card-body">
                        <div id="tortaChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <br />
                            <i class="fa fa-circle legend-text-1"></i> Torta(Ração) (Kg)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ACQUA -->
<div class="card card-acqua">
    <div class="card-header card-header-tabs card-header-success">
        <h3 class="card-title">ACQUA</h3>
        <p class="card-category">
            <strong>Produção de {{anoMes}}</strong>
        </p>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                            <h4 class="card-title"> Produção Diária</h4>
                            <p class="card-category">12/10/2018</p>
                        </div> -->
                    <div class="card-body">
                        <div id="aguaCocoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Água de Coco Sococo (L)
                            <br />
                            <i class="fa fa-circle legend-text-2"></i> Água de Coco Verde (L)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-warning">
                            <h4 class="card-title">Employees Stats</h4>
                            <p class="card-category">New employees on 15th September, 2016</p>
                        </div> -->
                    <div class="card-body">
                        <div id="caixaPadraoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <br />
                            <i class="fa fa-circle legend-text-1"></i> Caixa Padrão (und)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                            <h4 class="card-title"> Produção Diária</h4>
                            <p class="card-category">12/10/2018</p>
                        </div> -->
                    <div class="card-body">
                        <div id="cocoGerminadoChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Coco Germinado (%)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-warning">
                            <h4 class="card-title">Employees Stats</h4>
                            <p class="card-category">New employees on 15th September, 2016</p>
                        </div> -->
                    <div class="card-body">
                        <div id="totalCacambaChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Total de Caçambas (coco verde)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- AMAFIBRA -->
<div class="card card-amafibra">
    <div class="card-header card-header-tabs card-header-warning">
        <h3 class="card-title">AMAFIBRA</h3>
        <p class="card-category">
            <strong>Produção de {{anoMes}}</strong>
        </p>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <!-- <div class="card-header card-header-tabs card-header-primary">
                            <h4 class="card-title"> Produção Diária</h4>
                            <p class="card-category">12/10/2018</p>
                        </div> -->
                    <div class="card-body">
                        <div id="totalFardosChart" [style.width.%]="100" [style.height.px]="300"></div>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle legend-text-1"></i> Número de Fardos (L)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>