.legend-text-1 {
    color: #63bfdf;
}



.legend-text-2 {
    color: #ffdd18
}

@media (max-width: 400px) {
    .card-sococo .card-body, 
    .card-acqua .card-body, 
    .card-amafibra .card-body{
        padding: 0.9375rem 2px;
    
    }
}
