<div class="main-content">
    <!-- <div class="container-fluid"> -->
    <div class="container-fluid ">
        <form class="example-form" [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="onSubmit(formulario.value, formDirective)"
            novalidate>

            <div class="row">
                <div class="col-md-6">
                    <label for="data"><b>DATA DO RESUMO: </b></label>
                    <input type="date" id="data" formControlName="dataLancamento">
                </div>
            </div>
            <br />
            <!-- CARD SOCOCO -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">SOCOCO</h4>
                            <p class="card-category">Informe os dados para fazer o lançamento do resumo diário</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="Cocos Processados (und)"
                                            formControlName="cocosProcessados" autocomplete="off" currencyMask
                                             [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['cocosProcessados'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Cocos Desfibrados (und)"
                                            formControlName="cocosDesfibrados" autocomplete="off" currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }" >
                                        <mat-error *ngIf="!formulario.controls['cocosDesfibrados'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="C.R.I (kg)"
                                            formControlName="cri" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['cri'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Flococo (kg)"
                                            formControlName="flococo" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['flococo'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Óleo Industrial Tipo A (L)"
                                            formControlName="oleoIndustrialTipoA" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['oleoIndustrialTipoA'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Óleo Industrial ETE (L)"
                                            formControlName="oleoIndustrialETE" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['oleoIndustrialETE'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Torta (ração - kg)"
                                            formControlName="torta" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['torta'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- CARD ACQUA -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">ACQUA</h4>
                            <p class="card-category">Informe os dados para fazer o lançamento do resumo diário</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Água de Coco Sococo (L)"
                                            formControlName="aguaDeCocoSococo" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 2, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['aguaDeCocoSococo'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  placeholder="Água de Coco Verde (L)"
                                            formControlName="aguaDeCocoVerde" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 2, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['aguaDeCocoVerde'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Caixa Padrão (und)" formControlName="caixaPadrao"
                                            autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['caixaPadrao'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Coco Germinado (%)" formControlName="porcentagemCocoGerminado"
                                            autocomplete="off"  currencyMask
                                            [options]="{ prefix: '% ', precision: 2, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['porcentagemCocoGerminado'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Total de Cacambas" formControlName="totalDeCacambas"
                                            autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['totalDeCacambas'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- CARD AMAFIBRA -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">AMAFIBRA</h4>
                            <p class="card-category">Informe os dados para fazer o lançamento do resumo diário</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Número de Fardos" id="numeroDeFardos"
                                            formControlName="numeroDeFardos" autocomplete="off"  currencyMask
                                            [options]="{ prefix: ' ', precision: 0, thousands: '.', decimal: ',' }">
                                        <mat-error *ngIf="!formulario.controls['numeroDeFardos'].valid">
                                            campo
                                            <strong>obrigatório</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <mat-spinner *ngIf="loader" class="pull-right" [strokeWidth]="2" [diameter]="42"></mat-spinner>
            <button mat-raised-button type="submit" class="btn btn-success pull-right" [disabled]="!formulario.valid">Salvar</button>
            <button mat-raised-button type="submit" class="btn btn-success pull-right">Salvar</button>
            <button mat-raised-button type="reset" class="btn pull-right">Cancelar</button>

            <div class="clearfix"></div>


        </form>
    </div>
</div>