<div class="container mt-5 mb-0">

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="selecionarDia()">DIA</button>
            <button type="button" class="btn btn-secondary" (click)="selecionarMes()">MÊS</button>
        </div>
    </div>
</div>
<div class="main-content" *ngIf="mes">
    <div class="container-fluid">
        <app-dashboard-mes></app-dashboard-mes>
    </div>
</div>

<div class="main-content" *ngIf="dia">
    <div class="container-fluid">
        <app-dashboard-dia></app-dashboard-dia>
    </div>
</div>