<div class="main-content">
    <div class="container-fluid">

        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" (click)="selecionarDia()">DIA</button>
            <button type="button" class="btn btn-secondary" (click)="selecionarMes()">MÊS</button>
        </div>
        <!-- <a  [routerLink]="/resumo-diario"><button mat-flat-button color="primary">Cadastrar Resumo do Dia</button></a> -->

        <div *ngIf="mes">
            <app-dashboard-mes></app-dashboard-mes>
        </div>

        <div *ngIf="dia">
            <app-dashboard-dia></app-dashboard-dia>
        </div>
    </div>
</div>